{% extends 'base.html.twig' %}

{% block titre %}
{{ titre }} | {{ parent() }}
{% endblock %}

{% block main %}

    {% block body %}
    
    <div class="titrePage">{{titre}}</div>
       
    <div class="author">
       <b>Auteur.ice :</b> {{wish.author}}
    </div>

    <div>
        <p><b>Voeu</b> : {{wish.title}}</p>
        <p><b>Catégorie : </b> {{wish.category.name}} </p>
        <p>✨ {{wish.description}} ✨</p>
    </div>

        
    {% endblock %}

{% endblock %}